.garage-controls {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;

  .button-controls {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    gap: 5px;
    max-width: 17.23rem;
  }
}
.cars {
  margin: 1rem auto;
  margin-left: 1rem;
}
